allow keystore log_device:chr_file { write open };

allow keystore firmware_file:dir search;
allow keystore firmware_file:file { open read getattr };
