allow mpdecision socket_device:dir { write add_name };
allow mpdecision socket_device:sock_file { write create setattr };
allow mpdecision system_data_file:file { open };
allow mpdecision log_device:chr_file { write open };
